.woocommerce-billing-fields .form-row, .woocommerce-shipping-fields .form-row,.woocommerce form .form-row {
display: block;
}
 
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
max-width: unset;
}


.woocommerce-form-coupon-toggle {
  display: none !important;
}

.coupon {
  display: none !important;
}

button[name="update_cart"] {
  display: none !important;
}



.woocommerce #customer_details .col-1, .woocommerce #customer_details .col-2 {
    width: 100% !important;
}

.cart_totals {
  display: none !important;
}

#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
    width: 100px !important;
    box-shadow: none;
}

.woocommerce td.product-name .wc-item-meta p, .woocommerce td.product-name .wc-item-meta:last-child, .woocommerce td.product-name dl.variation p, .woocommerce td.product-name dl.variation:last-child {
  margin-top: 0px;
 
}

input[type="text"], input[type="tel"], input[type="password"], input[type="email"]{
    height: 37px;
    padding-left: 10px;
    border: 1px solid #bbbbbb;
}

textarea {
	height: 137px;
    padding-left: 10px;
    padding-top: 15px;
    border: 1px solid #bbbbbb;
}

.product-name a {
      color: #2d2d2d !important;
      font-weight: bold;
}

.woocommerce-billing-fields h3 {
  margin-bottom: 20px;
  font-weight: bold;
}
#order_review_heading {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
.cart-subtotal {
  display: none !important;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background-color: #cb965f  !important;
}

.section_form {
  width: 50%;
  margin: 0 auto;
}

.ul_header {
  width: 50%;
  margin-left: 0px !important;
  margin: 0 auto !important;
  display: flex;
  justify-content: space-around;
}

.ul_header li {
  float: left;
  list-style: none;

}

.ul_header li a {
  height: 29px;
  color: #fff;
    border-radius: 5px;
    background-color: #cb965f;
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
}

.ul_header li.active a {
  background-color: #a97641;
}


@media (max-width: 766px) {

.section_form {
  width: 100%;
  margin: 0 auto;
}

}