@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-SemiBold.eot');
    src: local('Gilroy SemiBold'), local('Gilroy-SemiBold') ,
        url('fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-SemiBold.woff') format('woff'),
        url('fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Light.woff') format('woff'),
        url('fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Regular.woff') format('woff'),
        url('fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Medium.woff') format('woff'),
        url('fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Bold.woff') format('woff'),
        url('fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Black.eot');
    src: local('Gilroy Black'), local('Gilroy-Black'),
        url('fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Black.woff') format('woff'),
        url('fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

* {
	padding: 0;
	margin: 0;	
	box-sizing: border-box;
	font-family: 'Gilroy';
}


.container {		
	margin: 0 auto;
	max-width: 1240px;
}


.bg1 {
	background: url('img/bg1b.jpg') center top no-repeat;
	background-size: cover;
	overflow-x: hidden;
}
.bg2 {
	background: #faf2fc;
	overflow-x: hidden;
	position: relative;
}
.bg2-img {
	position: absolute;
	left: 44%;
	top: 0;
	z-index: -1;
}

.page-text li {
	    font-size: 16px;
    line-height: 1.5;
    color: #2d373b;
    margin-bottom: 5px;
}

.sidebar-menu.fixed {
  position: fixed;
  max-height: 100vh;
  overflow-y: auto;
}

.page-text ol, .page-text ul {
	padding-left: 15px;
}

.page-text h2 {
	margin-bottom: 10px;
	margin-top: 10px;
}

.header {
	padding: 45px 0 50px 0;
	position: relative;
	z-index: 5;
}
.d-flex {
	display: flex;
	display: -webkit-flex;
}
.logo{
	position: relative;
}
.logo:after{
	position: absolute;
	content: '';
	width: 800px;
	height: 800px;
	background-color: white;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	margin: -680px 0 0 -490px;
	z-index: 0;
}
.bg2 .logo:after{
	display: none;
}
.logo img {
	width: 100%;
	max-width: 189px;
	height: auto;
	position: relative;
	z-index: 1;
}
.header-right {
	flex: 1;
	-webkit-flex: 1;
}

.menu-box {	
	flex: 1;
	-webkit-flex: 1;
}
.menu {
	display: flex;
	display: -webkit-flex;
	align-items: center;
		-webkit-align-items: center;
	justify-content: flex-end;
}
.menu a {
	font-size: 16px;
	font-weight: 600;
	color: white;
	text-decoration: none;
	white-space: nowrap;
	display: block;
	margin-left: 5.2%;
	margin-bottom: 25px;
}
.menu a:hover, .menu a.act {		
	text-decoration: underline;
}

.header-right .bottom {
	display: flex;
	display: -webkit-flex;
	align-items: center;
		-webkit-align-items: center;
	justify-content: flex-end;
	margin-bottom: 20px;
}

.header-right .bottom .txt1, .header-right .bottom .txt2 {
	
	font-weight: 500;
	color: white;
	margin-right: 35px;
}
.header-right .bottom .txt1{
	margin-right: 0px;
	font-size: 16px;
}
.header-right .bottom .txt1 a{
	
	font-size: 25px;
}
.header-right .bottom a {

	font-weight: 500;
	color: white;
	margin-left: 9px;
	text-decoration: none;
}
.soc-box{
	 margin-right: 40px;
}
.soc-box a {
	display: inline-block;
	margin: 4px 0 0 8px;
}
.soc-box img {
	height: 15px;
}
	

.b1 {	
	
}
.b1 .container {
	position: relative;
	padding-top: 60px;
	padding-bottom: 80px;
}
.page-title {	
	letter-spacing: 1px;
	font-size: 40px;
	line-height: 1.2;
	font-weight: 900;
	margin-bottom: 40px;
	position: relative;
}
.page-title.w {	
	color: white;
}

.ttl2 {	
	font-size: 20px;
	margin-bottom: 40px;
	
}
.ttl2.w {	
	color: white;
}
p.w {
	color: white;
}
.b1 .box {	
	max-width: 830px;
	position: relative;
	z-index: 2;
}
.b1 .box p {	
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 20px;
}
.b1 .box p a {	
	font-size: 16px;
	font-weight: bold;
	color: #2d373b;
	text-decoration: none;
}
.list{
	text-align: left;
}
.b1 .img0 {
	position: absolute;
	right: 50px;
	top: 100px;
}
.b1 .btn1, .b1 .btn3 {
	margin: 0 15px 15px 0;
}
.list li{
letter-spacing: 1px;
    list-style: none;
    background-image: url(https://ollaberkana.ru/wp-content/themes/provodnik/img/check.png);
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 30px;
    margin-top: 15px;
}
.btn1 {
	background-color: #60c6f0;
	border: 2px solid #60c6f0;
	min-width: 156px;
	color: white;
	font-size: 16px;	
	font-weight: bold;
	padding: 13px 25px;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
.btn1:hover {
	background-color: #ad31c6;
	border: 2px solid #ad31c6;
	text-decoration: none;
}
.btn2 {
	background-color: transparent;
	border: 2px solid #60c6f0;
	min-width: 156px;
	color: white;
	font-size: 16px;	
	font-weight: bold;
	padding: 13px 25px;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
.btn2:hover {
	background-color: #ad31c6;
	border: 2px solid #ad31c6;
	text-decoration: none;
}
.btn3 {
	background-color: #60c6f0;
	min-width: 156px;
	color: white;
	font-size: 16px;	
	font-weight: bold;
	padding: 14px 25px;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	text-align: center;
background: #ad31c6;
background: -moz-linear-gradient(left, #ad31c6 0%, #ad31c6 21%, #58c6ed 100%);
background: -webkit-linear-gradient(left, #ad31c6 0%,#ad31c6 21%,#58c6ed 100%);
background: linear-gradient(to right, #ad31c6 0%,#ad31c6 21%,#58c6ed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad31c6', endColorstr='#58c6ed',GradientType=1 );	
}
.btn3:hover {
	background-color: #58c6ed;
	text-decoration: none;
}
.btn4 {
	min-width: 156px;	
	padding: 2px;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	text-align: center;
background: #ad31c6;
background: -moz-linear-gradient(left, #ad31c6 0%, #ad31c6 21%, #58c6ed 100%);
background: -webkit-linear-gradient(left, #ad31c6 0%,#ad31c6 21%,#58c6ed 100%);
background: linear-gradient(to right, #ad31c6 0%,#ad31c6 21%,#58c6ed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad31c6', endColorstr='#58c6ed',GradientType=1 );	
}
.btn4 span {
	display: block;
	background-color: white;
	padding: 12px 23px;
	color: #515050;
	font-size: 16px;	
	font-weight: bold;
	border-radius: 3px;
}
.btn4.v2 span {
	background-color: #faf2fc;
}
.btn4:hover span {
background: #ad31c6;
background: -moz-linear-gradient(left, #ad31c6 0%, #ad31c6 21%, #58c6ed 100%);
background: -webkit-linear-gradient(left, #ad31c6 0%,#ad31c6 21%,#58c6ed 100%);
background: linear-gradient(to right, #ad31c6 0%,#ad31c6 21%,#58c6ed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad31c6', endColorstr='#58c6ed',GradientType=1 );
	text-decoration: none;
	color: white;
}

.b1 .items5-list {
	padding: 10px 0 0;
	margin-bottom: 0px;
}
.b1 .items5-list.v2 {
	padding: 0;
}
.items5-list {
	max-width: 1090px;
	margin: 0 auto;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
}
.items5-list .c1 {
	flex: 0 0 20%;
	-webkit-flex: 0 0 20%;
	padding: 0 15px;
	margin-bottom: 30px;
}
.items5-list .box {
	border: 5px solid rgba(255, 255, 255, .5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
	padding: 15px 25px 10px 25px;
	border-radius: 20px;
	height: 100%;
	text-align: center;
}
.items5-list.v2 .box {
	border: 0;
	padding: 20px 20px 10px 20px;
	background-color: white;
}
.items5-list .box .ico {
	border: 1px solid  rgba(255, 255, 255, .5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
	padding: 10px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
}
.items5-list.v2 .box .ico {
	border: 1px solid  #f0f6f6;
	padding: 2px;
}
.items5-list.v2 .box .ico span {
	border: 6px solid #f0f6f6;
	height: 90px;
	width: 90px;
}
.items5-list .box .ico span {
	height: 76px;
	width: 76px;
	border-radius: 50%;
	background-color: white;
	display: flex;
	display: -webkit-flex;
	align-items: center;
		-webkit-align-items: center;
	justify-content: center;
}
.items5-list .box .ico img {
	height: 42px;
}
.items5-list .box p {
	font-size: 15px;
	color: white;
	margin-bottom: 0px;
}
.items5-list.v2 .box p {
	color: #515050;
}
.mt50{
	margin-top:50px
}
.tc{
text-align: center;
}
.httl {
	font-size: 40px;
	line-height: 1.2;
	margin-bottom: 60px;
	text-align: center;
}
.httl.w {
	color: white;
}

.helpyou {	
	padding-top: 70px;

    margin-bottom: 0px;
	position: relative;
	z-index: 5;
}
.helpyou .d-flex {	
	flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
}
.helpyou .c1 {
	flex: 0 0 33.33%;
	-webkit-flex: 0 0 33.33%;
	padding: 0 6px;
	margin-bottom: 12px;
}
.helpyou .box {
	background-color: rgba(255,255,255,.1);
	border-radius: 15px;
	padding: 25px 0px 25px 25px;
	position: relative;
	overflow: hidden;
	height: 100%;
}
.helpyou.v2 .box {
	background-color: white;
}
.helpyou .box .ttl {
	font-size: 24px;
	font-weight: 500;
	color: white;
	text-align: center;
	margin-bottom: 15px;
	    margin-left: -25px;
}
.helpyou.v2 .box .ttl {	
	color: #333333;
}
.helpyou .box p {
	font-weight: 500;
	font-size: 18px;
	line-height: 1.8;
	color: white;
	margin-bottom: 15px;
}
.helpyou.v2 .box p {
	color: #636363;
}
.helpyou .box .txt {
	max-width: 70%;
	position: relative;
	z-index: 2;
}
.helpyou .box.v2 .txt {
	max-width: 100%;
	
}
.helpyou .box.v3 .txt {
	max-width: 100%;
	
}
.helpyou .box .img img {
	width: 130px;
	position: absolute;
	right: 15px;
	top: 75px;
	z-index: 0;
}
.helpyou .box.v2 .img img {
	right: 0;
	top: 110px;
	width:140px;
}
.helpyou .box.v3 .img img {
	right: 0;
	top: auto;
	bottom: 0;
	width:200px;
}

.advantages {
	position: relative;
	margin-bottom: 140px;
}
.advantages .container {
	position: relative;
	z-index: 2;
}
.advantages .img1 {
	position: absolute;
	top: 120px;
	right: 50%;
	margin-left: 120px;
	z-index: 0;
}
.advantages .img2 {
	position: absolute;
	right: 0;
	top: -380px;
	z-index: 0;
}
.advantages .btns {
	max-width: 520px;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	margin: 0 auto;
	margin-bottom: 85px;
}
.advantages .items {
	display: none;
}
.advantages .items.on {
	display: block;
}
.advantages .item {
	margin-bottom: 80px;
	position: relative;
	padding-left: 75px;
}
.advantages .item span {
	font-size: 17px;
	color: white;
	font-weight: 500;
}
.advantages .item i {
	position: absolute;
	left: 0;
	top: -15px;
	width: 54px;
	height: 54px;
	border-radius: 50%;
	background-color: #798cde;
	border: 4px solid #7fb4e6;
	/*box-shadow: inset -1px 3px 3px rgba(0,0,0,0.2);*/
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	display: -webkit-flex;
	align-items: center;
		-webkit-align-items: center;
	justify-content: center;
}
.advantages .item i img {
	height: 24px;
}
.advantages .item.i1 {
	margin-left: 17%;
}
.advantages .item.i2 {
	margin-left: 23%;
}
.advantages .item.i3 {
	margin-left: 27%;
}
.advantages .item.i4 {
	margin-left: 30%;
}
.advantages .item.i5 {
	margin-left: 35%;
}
.advantages .item.i6 {
	margin-left: 43%;
}
.advantages .item.i7 {
	margin-left: 47%;
}
.advantages .item.i8 {
	margin-left: 47%;
}

.switch {
	margin:auto;
	display: flex;
	display: -webkit-flex;
	align-items: center;
		-webkit-align-items: center;
	flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	margin-bottom: 15px;
}
.switch span {
	font-size: 16px;
	margin-right: 10px;
}
.switch-btn {
	width: 80px;
	height: 38px;
	padding: 5px;
	background-color: #d7d7d7;
	border-radius: 60px;
	position: relative;
	cursor: pointer;
	margin-bottom: 15px;
}
.switch-btn i {
	position: absolute;
	top: 5px;
	left: 5px;
	display: block;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: white;
}
.switch.on .switch-btn i {
	right: 5px;
	left: auto;
}
.switch.on .switch-btn {
background: #58c6ed;
background: -moz-linear-gradient(45deg, #58c6ed 0%, #ad31c6 83%, #ad31c6 100%);
background: -webkit-linear-gradient(45deg, #58c6ed 0%,#ad31c6 83%,#ad31c6 100%);
background: linear-gradient(45deg, #58c6ed 0%,#ad31c6 83%,#ad31c6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58c6ed', endColorstr='#ad31c6',GradientType=1 );
}

.switch.brd {
	border: 1px solid  #bc91e1;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
	border-radius: 60px;
	width: 245px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
		-webkit-align-items: center;
	justify-content: space-between;
	padding-left: 15px;
	margin-bottom: 15px;
}
.switch.on.brd {
	border: 1px solid  #58c6ed;
}
.switch.brd .switch-btn {	
	background-color: #bc91e1;
	margin: -1px -1px;
	height: 40px;
}
.switch.w span {	
	color: white;
}

.clients {
	position: relative;
	z-index: 2;
	margin-bottom: 70px;
}
.clients .list {
	margin: 0 -8px;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
}
.clients .list .c1 {
	flex: 0 0 20%;
	-webkit-flex: 0 0 20%;
	padding: 0 8px;
	margin-bottom: 16px;
}
.clients .list .box {
	height: 166px;
	padding: 0 10px;
	border-radius: 15px;
	border: 2px solid  rgba(255,255,255,.3);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
	display: flex;
	display: -webkit-flex;
	align-items: center;
		-webkit-align-items: center;
	justify-content: center;
}
.clients .list .box img {
	max-width: 100%;
	height: auto;
}

.httl-box {
	text-align: center;
}
.httl-box .httl {
	display: inline-block;
}
.httl.v2 {
	padding: 8px 30px;
	border-radius: 60px;
	background-color: #8577d8;
	color: white;
}

.price-box {
	overflow: hidden;
}
.price {
	position: relative;
	z-index: 3;
	margin-bottom: 50px;
}
.price:after {
	position: absolute;
	content: '';
	z-index: 1;
	height: 100px;
	width: 98%;
	left: 1%;
	bottom: -12px;
	background-color: rgba(255,255,255,.3);
	border-radius: 60px;
}
.price:before {
	position: absolute;
	content: '';
	z-index: 2;
	height: 100px;
	width: 90%;
	left: 5%;
	bottom: -24px;
	background-color: rgba(255,255,255,.3);
	border-radius: 60px;
}
.price .inner {
	z-index: 4;
	display: flex;
	display: -webkit-flex;
	border-radius: 40px;
	position: relative;
}
.price .c1 {
	border-radius: 40px 0 0 40px;
	flex: 0 0 44%;
	-webkit-flex: 0 0 44%;
	background-color: #669cce;
	position: relative;
	z-index: 2;
}
.price .c2 {
	border-radius: 0 40px 40px 0;
	flex: 0 0 56%;
	-webkit-flex: 0 0 56%;
	background-color: white;
	padding: 20px 20px 20px 0;
	position: relative;
}
.price .txt1 {
	padding: 40px 40px 20px 40px;
}
.price .ttl {
	font-size: 30px;
	color: #505050;
	line-height: 1.2;
	margin-bottom: 20px;
	
	position: relative;
	z-index: 2;
}
.price p {
	font-size: 18px;
	line-height: 1.2;
	color: #626262;
	margin-bottom: 20px;
}
.price .txt1 p, .price .txt1 .ttl {	
	color: white;
}
.price .txt1 p {	
	margin-bottom: 40px;
}
.price-price {
	margin-bottom: 45px;
}
.price-price b {
	font-size: 30px;
	font-weight: normal;
	line-height: 1;
	white-space: nowrap;
	display: block;
}
.price .txt1 .price-price b {
	color: white;
}
.price-price.sale {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
}
.price-price.sale b {
	margin-right: 20px;
}
.price-price.sale span {
	display: block;
	font-size: 14px;
	line-height: 1.6;
	font-weight: 500;
}
.price .txt1 .price-price.sale  span {
	color: white;
}

.price .btns {
	padding: 10px 12px 10px 40px;
	background-color: white;
	margin-bottom: 30px;
	display: inline-block;
	border-radius: 0 10px 10px 0;
}
.price .btns .btn3 {
	margin-right: 10px;
}

.price .txt2 {	
	display: flex;
	display: -webkit-flex;	
}
.price .txt2 .c4 {	
	flex: 1;
	-webkit-flex: 1;
}
.price2-box {
	background-color: #faf2fc;
	padding: 30px 120px 30px 40px;
	border-radius: 20px;
}
.price2-box p {
	font-size: 14px;
	line-height: 1.6;
	position: relative;
	z-index: 2;
}
.price2-box .btn-box {	
	position: relative;
	z-index: 2;
}
.price .c2 .img {	
	position: absolute;
	top: -70px;
	right: -100px;
}
.price .c2 .img.v2 {
	top: auto;
	bottom: 16px;
}
.price .c2 .img.v3 {
	top: 20px;
	right: -180px;
}

.price .controls .switch  {	
	padding: 0 25px 0 50px;
	margin-bottom: 70px;
	position: relative;
	justify-content: flex-end;
}
.price .controls .switch:last-child  {	
	margin-bottom: 0;
}
.price .controls .switch:after  {	
	content: '';
	position: absolute;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: #faf2fc;
	left: -18px;
	top: 0;
	z-index: 0;
}
.price .controls .switch:before  {	
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #669cce;
	left: -8px;
	top: 9px;
	z-index: 3;
}
.price .controls .switch.on:before  {		
	background-color: white;
}

.owl-carousel img {
	display: inline-block !important;
	width: auto !important;
}

.revs {
	padding: 50px 0;
}
.revs-box {
	display: flex;
	display: -webkit-flex;
	align-items: center;
		-webkit-align-items: center;
	justify-content: center;
	min-width: 0;
}
.revs-slider-box{
	flex: 0 0 50%;
	-webkit-flex: 0 0 50%;
	min-width: 0;
}
.revs-box-out{
	flex: 0 0 50%;
	-webkit-flex: 0 0 50%;
	min-width: 0;
}
.revs-box-out .out{
	padding: 40px;
}
.revs-slider.owl-carousel {

}
.revs-slider.owl-carousel .owl-stage {
  /*display: flex;
  align-items: center;*/
}
.revs-slider.owl-carousel .owl-item {
/*float: right;*/
min-width: 0;
}
.revs-slider .slide {
	padding: 15px;
	min-width: 0;	
}
.revs-slider .slide .c1 {	
	text-align: left;	
	min-height: 200px;
	padding-top: 45px;
}
.revs-slider .slide .c2 {	
	display: none;
}
.revs-slider .c1 .img {	
	display: inline-block;
	vertical-align: top;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	border: 10px solid white;
	background-size: cover !important;
	box-shadow: 0 10px 10px -5px rgba(255,255,255,.8);
	opacity: .4;
}
.revs-slider .owl-item.firstActiveItem .c1 {
	padding-top: 0px;
}
.revs-slider .owl-item.firstActiveItem .c1 .img {
	opacity: 1;
	width: 200px;
	height: 200px;
}

.revs-box-out p, .revs-slider .txt p {
	font-size: 16px;
	line-height: 1.6;
	color: white;
	margin-bottom: 20px;
}
.revs-box-out a, .revs-slider .txt a {
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: white;
	display: inline-block;
}
.revs-box-out a img, .revs-slider .txt a img {
	height: 10px;
	margin-left: 10px;
}

.revs-navs {padding-top: 30px; text-align: center;}
.revs-navs button {
	width: 38px;height: 38px;
	border-radius: 50%;
	display: block;
	text-align: center;
	line-height: 42px !important;
	color: white;
	background-color: white !important;
	outline: 0;
	border: 0;
	opacity: 1;
	display: inline-block;
	vertical-align: top;
	margin: 0 5px;
	cursor: pointer;
}
.revs-navs .owl-prev img {
	margin-left: -3px;
}
.revs-navs .owl-next img {
	margin-right: -3px;
}
.revs-navs button img {
	height: 14px;
}
.revs-navs button:hover {
	box-shadow: 0 0 10px 5px rgba(0,0,0,.03);
}


.logo2 img {
	max-width: 168px;
	width: 100%;
	height: auto;
}
.footer-top {
	text-align: center;
	font-size: 0px;
	position: relative;
	z-index: 1;
}
.footer-top img {
	max-width: 100%;
	height: auto;
}
.footer {
	padding-top: 55px;
	background-color: #2e203b;
	position: relative;
	z-index: 1;
}

.footer .d-flex {
	justify-content: space-between;
}
.footer  .ttl {
	font-size: 17px;
	font-weight: bold;
	color: white;
	margin-bottom: 20px;
}
.footer-menu a, .cnt a {
	font-size: 14px;
	color: #cec2da;
	font-weight: 500;
	display: block;
	margin-bottom: 19px;
	text-decoration: none;
}
.footer-menu a:hover, .cnt a:hover {	
	text-decoration: underline;
}

.cnt-box {
	min-width: 560px;
	position: relative;
}
.cnt .item {
	padding-left: 25px;
	position: relative;
	margin-bottom: 28px;
}
.cnt .item img {
	height: 12px;
	position: absolute;
	left: 0;
	top: 2px;
}
.cnt .item span {
	font-size: 14px;
	font-weight: 500;
	color: #cec2da;
	display: block;
	margin-bottom: 10px;
}
.cnt .item a {
	font-size: 17px;
	font-weight: 500;
	color: white;
	display: block;
	text-decoration: none;
	margin: 0;
}
.cnt .item p {
	font-size: 17px;
	font-weight: 500;
	color: white;
}
.cnt-box .soc-box {
	position: absolute;
	right: 0;
	bottom: 25px;
}
.footer-info {
	background-color: #493858;
	padding: 25px 25px 15px 25px;
	border-radius: 15px;
	position: absolute;
	right: 0;
	top: 0;
	width: 270px;
}
.footer-info .ttl {
	position: relative;
	padding-right: 65px;
}
.footer-info p {
	font-size: 13px;
	font-weight: 500;
	color: #cec2da;
	margin-bottom: 10px;
}
.footer-info a {
	font-size: 11px;
	text-decoration: none;
	color: #927fa2;
	font-weight: 500;
	position: absolute;
	right: 0;
	top: 3px;
}
.footer-info a img {
	height: 12px;
	margin-left: 5px;
}

.mb-3 {
	margin-bottom: 30px;
}

.pay-icons {
	padding: 10px 10px 5px 10px;
	border-radius: 10px;
	background-color: #493858;
	display: flex;
	display: -webkit-flex;
	align-items: center;
		-webkit-align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
}
.pay-icons img {
	margin: 0 5px 5px 5px;
	max-width: 100%;
	height: auto;
}
.copy-txt {
	padding: 20px 0;
	font-size: 14px;
	font-weight: 500;
	color: #cec2da;
	text-align: center;
}
.copy-txt a {
	font-size: 14px;
	font-weight: 500;
	color: #cec2da;
	text-decoration: none;
	display: inline-block;
	margin: 0 5px 5px 5px;
}
.copy-txt a:hover {
	text-decoration: underline;
}

.copy-text-down{
	margin-top:-10px;
	font-size: 14px;
	font-weight: 500;
	color: #cec2da;
	text-align: center;
}
.form-ttl {
	font-size: 24px;
	margin-bottom: 30px;
	text-align: center;
}
.form1 .inp {
	margin-bottom: 20px;
}
.form1 .inp-3 {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
}
.form1 .inp-3 .inp {
	flex: 0 0 33.33%;
	-webkit-flex: 0 0 33.33%;
	padding: 0 10px;
}
.form1 textarea, .form1 input[type="text"], .form1 input[type="email"] {
	font-size: 16px;
	width: 100%;
	border: 1px solid #b6b7e8;
	border-radius: 10px;
	padding: 15px 20px;
background: -moz-linear-gradient(left, rgba(173,49,198,0.3) 0%, rgba(88,198,237,0.3) 100%);
background: -webkit-linear-gradient(left, rgba(173,49,198,0.3) 0%,rgba(88,198,237,0.3) 100%);
background: linear-gradient(to right, rgba(173,49,198,0.3) 0%,rgba(88,198,237,0.3) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dad31c6', endColorstr='#4d58c6ed',GradientType=1 );
}
.form1 textarea {
	min-height: 100px;
}

.form1 .btn-box {
	padding-top: 15px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
		-webkit-align-items: center;
	flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
}
.form1 button {
	border: 0;
	font-size: 17px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	max-width: 160px;
	width: 100%;
}
.form1 .custom-checkbox {
	margin-right: 20px;
}
.form1 .custom-checkbox a {
	color: #ad31c6;
	font-weight: 500;
}

.contacts-form {
	max-width: 800px;
	position: relative;
	z-index: 2;
}

.custom-checkbox {
display: block;
  position: relative;
  padding-left: 35px;  
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  color: #a790ac;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
  margin-bottom: 20px;
}
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 24px;
  width: 24px;
  border: 1px solid #b6b7e8;
  background: -moz-linear-gradient(left, rgba(173,49,198,0.3) 0%, rgba(88,198,237,0.3) 100%);
background: -webkit-linear-gradient(left, rgba(173,49,198,0.3) 0%,rgba(88,198,237,0.3) 100%);
background: linear-gradient(to right, rgba(173,49,198,0.3) 0%,rgba(88,198,237,0.3) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dad31c6', endColorstr='#4d58c6ed',GradientType=1 );
  border-radius: 5px;
}
.custom-checkbox:hover input ~ .checkmark {
  background: -moz-linear-gradient(left, rgba(173,49,198,0.3) 0%, rgba(88,198,237,0.3) 100%);
background: -webkit-linear-gradient(left, rgba(173,49,198,0.3) 0%,rgba(88,198,237,0.3) 100%);
background: linear-gradient(to right, rgba(173,49,198,0.3) 0%,rgba(88,198,237,0.3) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dad31c6', endColorstr='#4d58c6ed',GradientType=1 );
}
.custom-checkbox input:checked ~ .checkmark {
  background: white; 
  border: 1px solid #b6b7e8;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.custom-checkbox .checkmark:after {
  left: 7px;
  top: 2px;
  width: 6px;
  height: 14px;
  border: solid #58c6ed;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#btn_overlay {
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}
.popup {
	display: none;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	right: 0;
	top: 50px;
	z-index: 10002;
	background-color: white;
	max-width: 400px;	
	
	
}
#thankspopup{
	margin-top: 30vh;
}
.popup-content {
	position: relative;
	padding: 30px;
}
.popup .close {
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
}

.form .close:hover {
	color: red;
}
.popup .form-title {
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	color: #282828;
	margin-bottom: 30px;
}
.popup input {
	width: 100%;
	margin-bottom: 20px;
}
.popup button {	
	width: 100%;
	max-width: 100%;
	border-radius: 10px;
}





.menu-btn {
	width: 30px;
	  height: 30px;
	 position: absolute;
	 right: 15px;
	 top: 20px;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .5s ease-in-out;
	  -moz-transition: .5s ease-in-out;
	  -o-transition: .5s ease-in-out;
	  transition: .5s ease-in-out;
	  cursor: pointer;
	  z-index: 101;
	  display: none;
	 
}
.menu-btn  span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.menu-btn.open  span {
	background: #282828;
}
.menu-btn  span:nth-child(1) {
  top: 0px;
}
.menu-btn  span:nth-child(2) {
  top: 12px;
}
.menu-btn  span:nth-child(3) {
  top: 24px;
}
.menu-btn.open span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.menu-btn.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.menu-btn.open span:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}



.custom-radio [type="radio"]:checked,
.custom-radio [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.custom-radio [type="radio"]:checked + label,
.custom-radio [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #373C41;
}
.custom-radio [type="radio"]:checked + label:before,
.custom-radio [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #222222;
    border-radius: 100%;
    background: #fff;
}
.custom-radio [type="radio"]:checked + label:after,
.custom-radio [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #222222;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.custom-radio [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.custom-radio [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.custom-radio.updown {
	position: relative;
	padding-right: 25px;
}
.custom-radio span {
	position: absolute;
	right: -25px;
	top: -10px;
	display: inline-block;
    width: 14px;
	margin-left: 15px;
}
.custom-radio span i {
    display: block;
    text-align: center;
	cursor: pointer;
}
.custom-radio span img {
    opacity: .3;
}
.custom-radio span i.on img {
    opacity: 1;
}


.custom-select {
	position: relative;   
	white-space: nowrap;
	background-color: white;
	display: inline-block;
}
.custom-select:after {
	content: '';
	position: absolute;
	width: 30px;
	height: 43px;
	background-color: white;
	right: 0;
	top: 0;
}
.custom-select:before {
	content: '';
	position: absolute;
	width: 40px;
	height: 43px;
	right: 0;
	top: 0;
	background: white url('img/down2.png') center center no-repeat;
	z-index: 2;
}
.custom-select select {	
	display: inline-block;
	border: 1px solid #222222;
	position: relative;
	z-index: 3;
	cursor: pointer;
	font-size: 16px;
	color: #262629;
	background-color: transparent;
	padding: 10px 30px 10px 15px;
	white-space: nowrap;
	outline: 0;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; 
}

.slick-slide img {
	display: inline-block;
}


.clients.v2 {
	position: relative;
	padding-top: 100px;
}
.clients.v2 .httl {
	font-size: 70px;
	font-weight: 900;
	padding: 0;
	background-color: transparent;
	position: absolute;
	left: 49%;
	top: -70px;
}
.revs.v2 .httl {
	font-size: 70px;
	font-weight: 900;
}

.about-items {
	padding: 40px 0 100px 0;
}
.about-items .item {
	display: flex;
	display: -webkit-flex;
	margin-left: -10px;
	margin-right: -10px;
	position: relative;
	margin-bottom: 40px;
}
.about-items .item .c1 {
	padding: 0 10px;	
	flex: 0 0 330px;
	-webkit-flex: 0 0 330px;
	margin-bottom: 20px;
}
.about-items .item .box {
	border-radius: 20px;
	padding: 30px 30px 20px 30px;
	background-color: rgba(255,255,255,.3);
	height: 100%;
}
.about-items .item .box .ico {
	border-radius: 20px;
	height: 55px;
	width: 55px;
	border-radius: 10px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
		-webkit-align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	background-color: white;
}
.about-items .item .box .ico img {
	height: 35px;
}
.about-items .item .box .ttl {
	font-size: 16px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.about-items .item .box p {
	font-size: 14px;
	color: white;
	font-weight: 500;
	line-height: 1.6;
}
.about-items .item .img {
	position: relative;
	flex: 1;
	-webkit-flex: 1;
	text-align: center;
}
.about-items .item .img img {
	position: absolute;
	right: 0;
	bottom: 0;
}

.about-items .item.right .c1 {
	order: 2;
}
.about-items .item.right .img {
	order: 1;
}
.about-items .item.right .img img {
	right: auto;
	left: 0;
}
.about-items .item.first .img img {

	max-height:300px;
}
.about-items .item.last .img img {
	top: -20px;
	bottom: auto;
}

.page-btn-box {
	margin-bottom: 40px;
	text-align: center;
}
.page-btn-box .btn3 {
	margin-right: 10px;
}

.price-box-wide {
	margin-bottom: 60px;
}
.price-box-wide .inner0 {	
	border-radius: 40px;
	padding: 25px;
	background-color: white;
}
.price-box-wide .inner {	
	border-radius: 30px;
	background-color: #faf2fc;
	padding: 25px 35px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
		-webkit-align-items: center;
	flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
}
.price-box-wide .inner .c1 {	
	flex: 1;
	-webkit-flex: 1;
	margin-right: 5%;
}
.price-box-wide .inner .c2 {	
	display: flex;
	display: -webkit-flex;
	align-items: center;
		-webkit-align-items: center;
}
.price-box-wide .ttl {
	font-size: 35px;
	color: #2d2d2d;
	line-height: 1.2;
	margin-bottom: 20px;
}
.price-box-wide p {
	font-size: 19px;
	line-height: 1.5;
	color: #626262;
	margin-bottom: 15px;
}
.price-box-wide .price-price {
	margin: 0 30px 10px 0;
}
.price-box-wide .btn-box {
	margin-bottom: 0;
}

.tbl1  {
	overflow-x: auto;
	margin-bottom: 50px;
}
.tbl1 table {
	border-collapse: separate; border-spacing: 0;
	width: 100%;
	border-radius: 30px;
	overflow: hidden;
}
.tbl1 tr:first-child {
background: #ad31c6;
background: -moz-linear-gradient(left, #ad31c6 0%, #ad31c6 21%, #58c6ed 100%);
background: -webkit-linear-gradient(left, #ad31c6 0%,#ad31c6 21%,#58c6ed 100%);
background: linear-gradient(to right, #ad31c6 0%,#ad31c6 21%,#58c6ed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad31c6', endColorstr='#58c6ed',GradientType=1 );
	border-radius: 30px 30px 0 0;
}
.tbl1 th {
	font-size: 15px;
	line-height: 1.6;
	color: white;
	font-weight: 500;
	padding: 30px 15px;
	text-align: center;
	border-right: 1px solid rgba(255, 255, 255, .5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
	max-width: 230px;
	min-width: 155px;
}
.tbl1 td {
	font-size: 15px;
	line-height: 1.6;
	font-weight: 500;
	color: #3d3d3d;
	background-color: white;
	padding: 20px 15px;
	text-align: center;
	border-right: 1px solid #efe5f1;
	border-top: 1px solid #efe5f1;
}
.tbl1 td span {
	white-space: nowrap;
}
.tbl1 td i {
	font-size: 13px;
	font-style: normal;
}
.tbl1 tr:first-child th:first-child {
	border-radius: 30px 0 0 0;
	overflow: hidden;
}
.tbl1 tr:first-child th:last-child {
	border-radius: 0 30px 0 0;
}
.tbl1 tr:last-child td:first-child {
	border-radius:  0 0 0 30px;
}
.tbl1 tr:last-child td:last-child {
	border-radius:  0 0 30px 0;
}

.b1-3 .container {
	padding-top: 20px;
	padding-bottom: 40px;
}
.b1-4 .container {
	padding-top: 20px;
}
.b1-3 .page-title {
	margin-bottom: 35px;
}

.page-sidebar {
	display: flex;
	display: -webkit-flex;
}
.page-sidebar .sidebar {
	flex: 0 0 335px;
	-webkit-flex: 0 0 335px;
	margin-right: 50px;
	margin-bottom: 40px;
}
.page-sidebar .content {
	flex: 1;
	-webkit-flex: 1;
	padding-bottom: 50px;
}

.sidebar-menu {
	padding: 20px;
	background-color: white;
	border-radius: 20px;
	width: 338px;
	margin-bottom: 20px;
	box-shadow: 0 0 15px 5px rgba(0,0,0,.05);
}
.sidebar-menu .item  {
	margin-bottom: 15px;
}
.sidebar-menu .item .ttl-lnk, .sidebar-menu .item .ttl {
	cursor: pointer;
	text-decoration: none;
	font-size: 16px;
	line-height: 1.5;
	color: #2d373b;
	font-weight: 500;
	padding-right: 10px;
	display: block;
	background: url('img/arr.png') right 10px no-repeat;
}
.sidebar-menu .item.on .ttl {	
	background: url('img/arr2.png') right 10px no-repeat;
	color: #ad31c6;
}
.sidebar-menu .item.act .ttl-lnk {		
	color: #2d373b;
	font-weight: bold;
}

.sidebar-menu .item .sub {	
	padding: 25px 10px 10px 15px;
	display: none;
}
.sidebar-menu .item.on .sub {	
	display: block;
}
.sidebar-menu .item .sub a {	
	font-size: 15px;
	line-height: 1.5;
	color: #7f7f7f;
	font-weight: 500;
	display: block;
	text-decoration: none;
	margin-bottom: 20px;
}
.sidebar-menu .item .sub a.act {		
	color: #2d373b;
	font-weight: bold;
}

.page-text.consult {
	padding-top: 180px;
}
.page-text .ttl {
	font-size: 25px;
	font-weight: bold;
	color: #2d373b;
	margin-bottom: 25px;
}
.page-text p {
	font-size: 16px;
	line-height: 1.5;
	color: #2d373b;
	margin-bottom: 25px;
}
.page-text .img {
	margin-bottom: 30px;
}
.page-text .img img {
	max-width: 100%;
	height: auto;
}
.vid-popup a {
	position: relative;
	margin-bottom: 30px;
	display: block;
}
.vid-popup a:after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -11px;
	margin-top: -11px;
	width: 52px;
	height: 52px;
	background: url('img/play.png') center top no-repeat;
}
.vid-popup img {
	max-width: 100%;
	height: auto;
}

.callbtn {
	cursor: pointer;
}
.b1-4 .img1 {
	position: absolute;
	left: 60%;
	top: 0;
	z-index: 2;
}
.b1-4 .callbtn {
	position: absolute;
	left: 53%;
	top: 40%;
	z-index: 3;
}

.sedebar-menu-btn {
	display: none;
	font-size: 18px;
	font-weight: bold;
	background-color: white;
	padding: 12px 15px;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 30px;
	background: white url('img/arr.png') 98% center no-repeat;
	border: 2px solid #ad31c6;
}
.sedebar-menu-btn.on {
	background: white url('img/arr2.png') 98% center no-repeat;
	color: #ad31c6;
}

.mb-40 {
	margin-bottom: 40px !important;
}
.b1-5 .container {
	padding: 20px 0 50px 0;
}
.sidebar .btn3 {
	margin-right: 10px;
}


.grid-item { 
	width: 50%; 
	padding: 0 25px;
}

.grid {
	margin: 0 -25px;
}
.posts-list .item {
	display: block;
	text-decoration: none;
	background-color: white;
	border-radius: 30px;
	overflow: hidden;
	margin-bottom: 50px;
}
.posts-list .item .img {
	height: 300px;
	background-size: cover !important;
}
.posts-list .item .desc {
	padding: 20px 25px;
}
.posts-list .item .ttl {
	font-size: 20px;
	font-weight: bold;
	color: #2d373b;
	margin-bottom: 15px;
}
.posts-list .item .exerpt {
	font-size: 13px;
	color: #949494;
}
.grid .grid-item:nth-child(2) .item .img {
	height: 366px;
}
.grid .grid-item:nth-child(3) .item .img {
	height: 250px;
}
.grid .grid-item:nth-child(4) .item .img {
	height: 366px;
}
.grid .grid-item:nth-child(5) .item .img {
	
}
.grid .grid-item:nth-child(6) .item .img {
	height: 215px;
}
.grid .grid-item:nth-child(7) .item .img {
	height: 366px;
}
.grid .grid-item:nth-child(8) .item .img {
	height: 152px;
}
.loading {
	text-align: center;
}

.b1-6 .container {
	padding-top: 20px;
	padding-bottom: 100px;
	position: relative;
}
.b1-6 .container .img {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}
.contacts-box {
	max-width: 660px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
		-webkit-align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	padding: 25px 0 50px 0;
	position: relative;
	z-index: 2;
}
.contacts-box .item {
	position: relative;
	padding-left: 25px;
	margin-bottom: 30px;
}
.contacts-box .item img {
	position: absolute;
	left: 0;
	top: 4px;
}
.contacts-box .item b {
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: #2d373b;
	margin-bottom: 10px;
}
.contacts-box .item a {
	display: block;
	font-size: 20px;
	color: #2d373b;
	text-decoration: none;
}


.module .container {
	padding-top: 20px;
	padding-bottom: 60px;
}
.module .btn-box {
	padding-top: 20px;
}
.module .img {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}
.module .items5-list {
	margin: 40px -15px 0 -15px;
	max-width: 640px;
}
.module .items5-list .c1 {
	flex: 0 0 33.33%;
	-webkit-flex: 0 0 33.33%;
}
.module-desc {
	text-align: center;
	margin-bottom: 50px;
	position: relative;
	z-index: 3;
}
.module-desc .ttl {
	font-size: 24px;
	font-weight: bold;
	color: #252525;
	margin-bottom: 50px;
}
.module-desc p {
	font-size: 20px;
	line-height: 1.6;
	color: #252525;
	margin-bottom: 35px;
}
.ul1 {
	margin-top: 20px;
	max-width: 790px;
	margin: 0 auto;
}
.ul1.v2 {
	max-width: 100%;
	margin: 0;
}
.ul1 li {
	min-height: 30px;
	line-height: 1.4;
	padding-top: 2px;
	list-style: none;
	font-size: 16px;
	text-align: left;
	color: #252525;
	padding-left: 35px;
	margin-bottom: 25px;
	background: url('img/li.png') left top no-repeat;
}

.module2 .img {
	right: -100px;
}
.module3 .img {
	right: -150px;
}
.module4 .img {
	right: 100px;
}
.module .txt2 {
	font-size: 20px;
	line-height: 1.6;
	padding-top: 40px;
}

.module3 .btn-box {
	padding-top: 30px;
}

.profit-box {
	text-align: center;
	padding: 20px 0 40px;
}
.profit-box .d-flex {
	margin-left: -10px;
	margin-right: -10px;
}
.profit-box .c1 {
	flex: 0 0 25%;
	-webkit-flex: 0 0 25%;
	padding: 0 10px;
	margin-bottom: 20px;
}
.profit-box .box {
	height: 100%;
	padding: 20px;
	background-color: white;
	border-radius: 15px;
	font-size: 15px;
	line-height: 1.6;
	color: #252525;
}

.how-box {
	padding: 20px 0 40px;
}
.how-box .d-flex {
	margin-left: -10px;
	margin-right: -10px;
}
.how-box .c1 {
	flex: 0 0 33.33%;
	-webkit-flex: 0 0 33.33%;
	padding: 0 10px;
	margin-bottom: 20px;
}
.how-box .box {
	height: 100%;
	padding: 25px 25px 25px 30px;
	background-color: white;
	border-radius: 15px;
	
	display: flex;
	display: -webkit-flex;
	align-items: center;
		-webkit-align-items: center;
}
.how-box .box .num {	
	font-size: 50px;
	line-height: 1;
	font-weight: 900;
	color: #ab3ccd;
	margin-right: 15px;
}
.how-box .box p {	
	font-size: 16px;
	line-height: 1.4;
	color: #252525;
}
.how-box .box p a {	
	color: #ab3ccd;
	text-decoration: none;
}

.items6-list {	
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
	position: relative;
	z-index: 2;
	margin-top: 40px;
}
.items6-list .c1 {
	flex: 0 0 16.6%;
	-webkit-flex: 0 0 16.6%;
	padding: 0 10px;
	margin-bottom: 20px;
}
.items6-list .box {	
	padding: 20px 10px 0 10px;
	border-radius: 15px;
	height: 100%;
	text-align: center;
	background-color: white;
}
.items6-list .box .ico {
	border: 1px solid  #f0f6f6;
	padding: 2px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
}
.items6-list .box .ico span {
	border: 6px solid #f0f6f6;
	height: 90px;
	width: 90px;
	border-radius: 50%;
	background-color: white;
	display: flex;
	display: -webkit-flex;
	align-items: center;
		-webkit-align-items: center;
	justify-content: center;
}
.items6-list .box .ico img {
	height: 42px;
}
.items6-list .box p {
	font-size: 15px;
	color: #515050;
}

.module-txt3 .d-flex {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
}
.module-txt3 .c1 {
	flex: 0 0 33.33%;
	-webkit-flex: 0 0 33.33%;
	padding: 0 10px;
	margin-bottom: 20px;
}
.module-txt3 .c2 {
	flex: 1;
	-webkit-flex: 1;
	padding: 0 10px;
	margin-bottom: 20px;
}
.module-txt3 .c3 {
	flex: 0 0 50%;
	-webkit-flex: 0 0 50%;
	padding: 0 10px;
	margin-bottom: 20px;
}
.module-txt3 .c4 {
	position: relative;
}
.module-txt3 .c4 img {
	position: absolute;
	right: -140px;
	bottom: 0;
}
.module-txt3 .c4 .box {
	min-height: 260px;
}
.module-txt3 .box {
	padding: 25px;
	border-radius: 15px;
	height: 100%;
	background-color: white;
}
.module-txt3 .box .ttl {
	font-size: 30px;
	line-height: 1.3;
	color: #252525;
	margin-bottom: 20px;
}
.module-txt3 .box li {
	padding-left: 10px;
	position: relative;
	font-size: 16px;
	line-height: 1.5;
	color: #252525;
	margin-bottom: 20px;
	list-style: none;
}
.module-txt3 .box li:after {
	content: '';
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #252525;
	left: 0;
	top: 10px;
}

.module .txt3 {
	margin-top: 30px;
}
.module .txt3 p {
	font-size: 17px;
	color: #252525;
	margin-bottom: 25px;
}

.module-desc.v2 {
	text-align: left;
}
.module-desc.v2 .httl {
	text-align: left;
	margin-bottom: 30px;
}
.module-desc.v2 .ttl {
	font-weight: 500;
}
.module-desc.v2 .ul1 {
	max-width: 100%;
	margin: 0;
}
.module-desc.v2 p {
	font-size: 16px;
}
.mb-20 {
	margin-bottom: 20px !important;
}
.mb-50 {
	margin-bottom: 50px !important;
}
.module-desc .ttl2 {
	font-size: 30px;
	line-height: 1.4;
	margin-bottom: 30px;
}
.f16 {
	font-size: 16px !important;
	text-align: left;
}
.f16.text-center {	
	text-align: center;
}

.httl2 {
	font-size: 30px;
	line-height: 1.5;
	color: #252525;
	text-align: center;
	margin-bottom: 40px;
}

.boxes3 {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
}
.boxes3 .c1 {
	flex: 0 0 33.33%;
	-webkit-flex: 0 0 33.33%;
	margin-bottom: 40px;
}
.boxes3.v2 .c1 {
	flex: 0 0 25%;
	-webkit-flex: 0 0 25%;
}
.boxes3 .box {
	position: relative;
	padding-left: 50px;
	text-align: left;
}
.boxes3 .box p {
	font-size: 15px;
	color: #252525;
	width: 90%;
	margin-bottom: 0px;
}
.boxes3 .box .num {
	width: 34px;
	height: 34px;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	font-size: 18px;
	color: white;
	font-weight: bold;
	line-height: 34px;
background: #ad31c6;
background: -moz-linear-gradient(left, #ad31c6 0%, #ad31c6 21%, #58c6ed 100%);
background: -webkit-linear-gradient(left, #ad31c6 0%,#ad31c6 21%,#58c6ed 100%);
background: linear-gradient(to right, #ad31c6 0%,#ad31c6 21%,#58c6ed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad31c6', endColorstr='#58c6ed',GradientType=1 );		
}

.qq {
	padding: 0 120px;
	position: relative;
	max-width: 1120px;
	margin: 40px auto;
}
.qq .inner {
	background-color: white;
	border-radius: 15px;
	padding: 10px;
}
.qq .box {
	border: 1px solid #f5f5f5;
	border-radius: 15px;
	padding: 15px 20px;
	position: relative;
}
/*.qq .box:after {
	content: '';
	position: absolute;
	width: 64px;
	height: 50px;
	background: url('img/qq-ar.png') center top no-repeat;
	right: -40px;
	bottom: -30px;
}*/
.qq .box p {
	font-size: 18px;
	color: #252525;
	line-height: 1.6;
	text-align: center;
	margin-bottom: 0px;
}
.qq:before {
	content: '';
	position: absolute;
	width: 89px;
	height: 67px;
	background: url('img/q1.png') center top no-repeat;
	left: 0;
	top: 0;
}
.qq:after {
	content: '';
	position: absolute;
	width: 89px;
	height: 67px;
	background: url('img/q1.png') center top no-repeat;
	right: 0;
	bottom: 0;
}

.complex1 .img, .complex2 .img, .complex3 .img {
	right: 100px;
}
.complex4 .img {
	right: 50px;
}

.text-box-white {
	max-width: 1060px;
	margin: 0 auto;
	padding: 20px 30px;
	border-radius: 15px;
	margin-bottom: 40px;
	background-color: white;
	box-shadow: 0 0 10px 5px rgba(0,0,0,.05);
}
.text-box-white p {
	font-size: 16px;
	color: #252525;
	text-align: left;
	margin-bottom: 20px;
}

.text-centered-box {
	max-width: 760px;
	margin: 0 auto;
	margin-bottom: 50px;
}

@media screen and (max-width: 1400px){

	.advantages .img2 {
		right: -300px;
	}
}
@media screen and (max-width: 1240px){

	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.advantages .container {
		padding-left: 0px;
	}
}
@media screen and (max-width: 1190px){

	.advantages .container {
		padding-left: 15px;
	}
	.advantages .item {
		margin-left: 25% !important;
	}
	.helpyou {
		padding-top:0px;
		margin-bottom: 0px;
	}
	.helpyou .box {		
		padding: 25px 0px 25px 25px;
	}
	.helpyou .box .img img {
		width: 27%;
	}
	.helpyou .box p {
		font-weight: 500;
		text-align:left;
    font-size: 13px;
    line-height: 1.8;
   
	}
	.price .c2 .img {
		display: none;
	}
	.helpyou .box.v2 .img img {
		    width: 110px;
		
	}
	.helpyou .box.v3 .img img {
		    width: 120px;
		
	}
	.price2-box {		
		padding: 30px;
	}
	.price .controls .switch {
		padding: 0 25px 0 30px;
		margin-bottom: 50px;
	}
	.price-price b {
		font-size: 40px;
	}
	
	.revs-slider .slide .c1 {
		min-height: 150px;
		padding-top: 20px;
	}
	.revs-slider .owl-item.firstActiveItem .c1 .img {	
		width: 150px;
		height: 150px;
	}
	
	.about-items .item .img img {
		max-width: 90%;
	}
	
	.module .img {
		text-align: right;
	}
	.module .img img {
		width: 70%;
	}
	.module-txt3 .c4 img {
		display: none;
	}
	
}
@media screen and (max-width: 1090px){	
	.b1 .img0 {
		text-align: right;
	}
	.b1 .img0 img {
		margin-top: 50px;
		width: 70%;
		height: auto;
	}
	.footer .d-flex {
		flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
	}
	.cnt-box {
		min-width: 100%;
		flex: 0 0 100%;
		-webkit-flex: 0 0 100%;
		margin-top: 30px;
	}
	
	.bg2-img {
		left: 20%;
	}
	.b1-6 .container .img {
		display: none;
	}
	.contacts-box {
		background-color: white;
		padding: 20px 20px 0 20px;
		border-radius: 20px;
		margin-bottom: 30px;
	}
	.contacts-box .soc-box {
	margin-bottom: 30px;
	}
	.items6-list .c1 {
		flex: 0 0 33.33%;
		-webkit-flex: 0 0 33.33%;
	}
	
}
@media screen and (max-width: 990px){
	
	.logo:after {		
		margin: -680px 0 0 -550px;
	}
	.b1 .img0 {
		display: none;
	}
	.b1 .box {
		text-align: center;
		max-width: 100%;
	}
	.b1 .about-items .box {
		text-align: left;
	}

.bg2 {
	background: #faf2fc url('img/bg2.jpg') 200px top no-repeat;
}	
.bg2-img {
	display: none;
}
.header-right .bottom .txt1, .header-right .bottom .txt2 {
	margin-right: 15px;
}	

	.advantages .img2 {
		display: none;
	}
	.items5-list .c1 {
		flex: 0 0 25%;
		-webkit-flex: 0 0 25%;
		padding: 0 10px;
		margin-bottom: 20px;
	}
	.httl {
		font-size: 30px;
		margin-bottom: 30px;
	}
	.clients .list .c1 {
		flex: 0 0 25%;
			-webkit-flex: 0 0 25%;
		padding: 0 5px;
		margin-bottom: 10px;
	}
	
	.about-items .item.first .img img {
		bottom: 0;
	}
	.about-items {
		padding: 40px 0 0 0;
	}
	.clients.v2 {
		padding-top: 0px;
	}
	.revs.v2 .httl, .clients.v2 .httl {
		font-size: 30px;
		font-weight: bold;
		position: static;
	}
	
	.bg2 .logo:after {
		display: block;
	}
	
	.b1-4 .img1 {
		display: none;
	}
	.page-text.consult {
		padding-top: 0;
	}
	
	.b1-4 .callbtn {
		position: static;
		padding-top: 30px;
		text-align: center;
	}
	.b1-4 .callbtn img {
		width: 100px;
	}
	
	.grid {
		margin: 0 -5px;
	}
	.grid-item {
		padding: 0 5px;
	}
	.module .img {
		display: none;
	}
	.module .items5-list {
		margin: 40px auto 0 auto;
	}
	
	.module-txt3 .c1 {
		flex: 0 0 100%;
		-webkit-flex: 0 0 100%;
	}
	.module-txt3 .c4 .box {
		min-height: auto;
	}
}
@media screen and (max-width: 900px){
	
	
	.helpyou .c1 {
		flex: 0 0 50%;
		-webkit-flex: 0 0 50%;
	}
	
	.revs-box {
		display: block;
	}
	.revs-box-out {display: none;}
	.revs-slider .owl-item .c1 {	
		min-height: auto;
		padding-top: 0;
	}
	.revs-slider .slide .c2 {
		display: block;
		padding-left: 40px;
	}
	.revs-slider .slide {
		padding: 15px 0;
		display: flex;
		display: -webkit-flex;
		align-items: center;
			-webkit-align-items: center;
	}
	.revs-slider .owl-item .c1 .img {	
		width: 150px;
		height: 150px;
	}
	
	.price .inner {		
		display: block;
	}
	.price .c1 {
		border-radius: 20px;
		margin-bottom: 30px;
		box-shadow: 0 0 10px 5px rgba(0,0,0,.1);
	}
	.price .c2 {
		border-radius: 20px;
	}
	.price .controls .switch:after, .price .controls .switch:before {
		display: none;
	}
	.price .controls .switch {
		margin-bottom: 30px;
	}
	
	.page-sidebar {
		display: block;
	}
	.page-sidebar .sidebar {		
		margin-right: 0;
		display: none;
	}
	
	.sedebar-menu-btn {
		display: block;
	}
	
	.profit-box .d-flex {
		flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
	}
	.profit-box .c1 {
		flex: 0 0 50%;
		-webkit-flex: 0 0 50%;
	}
	
}
@media screen and (max-width: 820px){
	.header {
		
	}
	.fixed {
		position: inherit !important;
	}
	.sidebar-menu {
		width: inherit;
	}
	.header {
		padding: 20px 0 50px 0;
		position: relative;
	}
	.header-right .bottom {
		flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
		padding-right: 50px;
	}
	.header-right .bottom .txt1, .header-right .bottom .txt2 {
		flex: 0 0 100%;
		-webkit-flex: 0 0 100%;
		text-align: right;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.menu-btn {
		display: block;
	}
	.menu-box {
		padding: 30px 0;
		position: absolute;
		left: 0;
		top: 0;	
		margin-top: -1000px;
		width: 100%;
		z-index: 12;
		background-color: white;
		border-bottom: 1px solid lightgrey;
		box-shadow: 0 10px 10px 5px rgba(0,0,0,.1);
		transition: all .5s;
	}
	.menu-box.open {
		display: block;
		margin-top: 0px;
	}
	.menu {
		display: block;	
		text-align: center;	
	}
	.menu a {		
		font-size: 16px;
		color: #282828;
		display: block;
		margin: 0;
		margin-bottom: 20px;
	}
	
	.items5-list .c1 {
		flex: 0 0 33.33%;
		-webkit-flex: 0 0 33.33%;
	}
	
	.tbl1 th {
		font-size: 14px;
		padding: 15px 10px;
	}
	.tbl1 td {
		font-size: 14px;
		padding: 15px 10px;
	}
	
	
	.how-box .box {
		display: block;
	}
	
	.boxes3.v2 .c1 {
		flex: 0 0 50%;
		-webkit-flex: 0 0 50%;
	}
}
@media screen and (max-width: 760px){
	.advantages .item {
		margin-left: 20% !important;
	}
	
	.about-items .item .c1 {
		flex: 0 0 50%;
		-webkit-flex: 0 0 50%;
	}
	.about-items .item {		
		margin-bottom: 0;
	}
	.clients.v2 {
		margin-bottom: 40px;
	}
	
	
}
@media screen and (max-width: 650px){
	.helpyou .c1 {
		flex: 0 0 100%;
		-webkit-flex: 0 0 100%;
	}
	.items5-list .c1 {
		flex: 0 0 50%;
		-webkit-flex: 0 0 50%;
		padding: 0 5px;
		margin-bottom: 10px;
	}
	.items5-list .box {
		padding: 10px 5px;
	}
	.clients .list .c1 {
		flex: 0 0 33.33%;
		-webkit-flex: 0 0 33.33%;
	}
	.helpyou .box {
		min-height: 200px;
	}
	.form1 .inp-3 {
		display: block;
		margin: 0;
	}
	.form1 .inp-3 .inp {		
		padding: 0;
	}
	
	.how-box .d-flex {
		margin: 0;
		display: block;
	}
	.how-box .c1 {
		padding: 0;
	}
	
	.module-txt3 .d-flex {
		margin: 0;
	}
	.module-txt3 .c3 , .module-txt3 .c1, .module-txt3 .c2 {		
		padding: 0;
		flex: 0 0 100%;
		-webkit-flex: 0 0 100%;
	}
	
	.boxes3 .c1 {
		flex: 0 0 50%;
		-webkit-flex: 0 0 50%;
	}
}
@media screen and (max-width: 560px){
	.header {
		padding-bottom: 0px;
	}
	.header .logo img {
		width: 120px;
	}
	.logo:after {
		width: 150px;
		height: 90px;
		border-radius: 0 0 20px 0;
		left: -15px;
		top: -20px;
		margin: 0;
	}
	.page-title {
		font-size: 30px;
	}
	
	.price .c2 {
		padding: 20px;
	}
	.price .txt2 {
		display: block;
	}
	.price .c3 .controls {
		display: flex;
		display: -webkit-flex;
		flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
	}
	.price .c3 .controls .switch {
		flex: 0 0 50%;
		-webkit-flex: 0 0 50%;
		padding: 0;
		margin-bottom: 20px;
	}
	.advantages {
		margin-bottom: 40px;
	}
	.advantages .btns {
		margin-bottom: 30px;
		display: block;
	}
	.advantages .img1 {
		display: none;
	}
	.advantages .item i {		
		top: -5px;
		width: 30px;
		height: 30px;
	}
	.advantages .item {
		margin-left: 0 !important;
		margin-bottom: 40px;
		padding-left: 50px;
	}
	
	.footer .logo-box {
		flex: 0 0 100%;
		-webkit-flex: 0 0 100%;
		text-align: center;
		margin-bottom: 30px;
	}
	.advantages .item i img {
		height: 15px;
	}
	.cnt-box .soc-box {
		position: static;
		margin-bottom: 20px;
	}
	.footer-info {			
		width: 100%;
		position: static;
	}
	
	.about-items .item {
		display: block;
	}
	.about-items .item .img {display: none;}
	
	.grid {
		margin: 0;
	}
	.grid-item {
		padding: 0;
		width: 100%;
	}
	.items6-list .c1 {
		flex: 0 0 50%;
		-webkit-flex: 0 0 50%;
	}
	.module-txt3 .box .ttl {
		font-size: 24px;
		margin-bottom: 15px;
	}
	
	.module-desc .ttl2 {
		font-size: 24px;
		margin-bottom: 20px;
	}
	.qq {
		padding: 0;
	}
	.qq:after, .qq:before {
		display: none;
	}
	.httl2 {
		font-size: 24px;
		margin-bottom: 30px;
	}
	
	.bg2 {
		background: #faf2fc url('img/bg2.jpg') 100px top no-repeat;
	}	
}
@media screen and (max-width: 460px){
	.header-right .bottom .txt1, .header-right .bottom .txt2 {
		font-size: 0px;
	}
	.switch {
		margin: auto;
	}
	.price .txt1 {
		padding: 30px 20px 20px 20px;
	}
	.price2-box {
		padding: 20px;
	}
	.price .c1 {
		padding-bottom: 10px;
	}
	.price .c2 {
		padding: 10px;
	}
	.price .ttl {
		font-size: 24px;
	}
	.switch span {
		font-size: 13px;
		margin-right: 5px;
	}
	.price .btns {
		padding: 10px;
		display: block;
		border-radius: 0px;
	}
	.price-price {
		margin-bottom: 15px;
	}

	.clients .list .c1 {
		flex: 0 0 50%;
		-webkit-flex: 0 0 50%;
	}
	.revs-slider .slide {
		display: block;
	}
	.revs-slider .c1 .img {
		display: block;
		
		margin: 0 auto;
		margin-bottom: 30px;
	}	
	.copy-txt a {
		display: block;
		margin: 0 0 10px 0;
	}
	
	.module .items5-list .c1 {
		flex: 0 0 50%;
		-webkit-flex: 0 0 50%;
	}

	.profit-box .c1 {
		flex: 0 0 100%;
		-webkit-flex: 0 0 100%;
	}
	
	.boxes3 .c1, .boxes3.v2 .c1 {
		flex: 0 0 100%;
		-webkit-flex: 0 0 100%;
		margin-bottom: 30px;
	}
	
}
@media screen and (max-width: 400px){
	.logo::after {
		width: 140px;
	}
	.header-right .bottom {		
		padding-right: 40px;
	}
	
	.btn1, .btn2, .btn3 {		
		min-width: 130px;
		font-size: 15px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.btn4 {				
		min-width: 130px;
	}
	.btn4 span {				
		font-size: 15px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.price .btns .btn3 {
		margin-right: 5px;
	}
	.price .c2 {
		padding: 10px 5px 5px 5px;
	}
	.helpyou .box .img img {
		top: 70px;
	}
	.revs-slider .slide .c2 {	
		padding-left: 0;
	}
	
	.items6-list .box p {
		font-size: 14px;
	}
}